body {
  padding-top: 0px;
}

.masthead {
  padding: 0px;
}

.bs-docs-social {
  width: 100%;
}

fieldset {
  text-align: left;
}

legend + .control-group {
  margin-top: 0px;
}

.footer {
  padding: 20px 0px;
  text-align: left;
}

.CodeMirror {
  text-align: left;
  margin-bottom: 20px;
}

.results {
  margin-bottom: 20px;
}

.results h4 {
  float: left;
}

.hidden {
  display: none;
}

#match {
  float: right;
}